:root {
    --backgrond-color:black;
    --header-background-color:white;
    --text-color:white;
    --menu-text-color:green;
    --mouseover-color:yellow;
}

body {
    background-color:var(--backgrond-color);
    color: var(--text-color);
}

#pane1{
    background-color: var(--header-background-color);
}

li a{
    color: var(--menu-text-color);
}

li a:hover{
    color: var(--mouseover-color);
}