:root {
    --backgrond-color:orange;
    --menu-column-background-color:yellow;
    --content-column-background-color:pink;
    --text-color:white;
    --menu-text-color:black;
    --mouseover-color:yellow;
    --mouseover-background-color:pink;
}

body {
    background-color:var(--backgrond-color);
    color: var(--text-color);
}

#pane1{
    background-color: var( --menu-column-background-color);
}

#pane2 {
    background-color:var(--content-column-background-color);
}
li a{
    color: var(--menu-text-color);
}

li a:hover{
    background-color: var(--mouseover-background-color);
    color: var(--mouseover-color);
}