:root {
    --link-color:white;
    --menu-column-background-color:#0d7978;
    --content-column-background-color:white;
    --font-family:'Roboto', sans-serif;
}

html, body {
    font-family:var(--font-family);
    height: 100%;
    margin: 0;
    padding: 0;
}

#pane1{
    background-color: var(--menu-column-background-color);
    float:left;
    width: 30%;
    height: 100%;
}


#pane2 {
    background-color:var(--content-column-background-color);
    padding: 0;
    margin: 0;
    height:100vh;
}

ul{
    margin:0;
    margin-top: 30vh;
    list-style:none;
}


li {
    text-align: center;
    padding: 30px;
}

li a {
    color: var(--link-color);
    text-align: center;
    /* padding:10vh; */
    /* padding-bottom: 30px; */
    text-decoration: none;
}

li a:hover {
    background-color:#186363;
    padding:20px;
}

.rightcol h3 {
    text-align: center;
    padding-top: 5vh;
}

.rightcol p {
    text-align: center;
}

.rightcol img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: 40vh;
    padding-top: 100px;
}

/* Theme controls*/
.controls {
    text-align: center;
    padding-top: 5vh;
}
.controls h4{
    margin: 0;
}
.btn{
    width: 120px;
}


.switch {
    border: 2px solid black;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    margin: 10px;
    cursor: pointer;
}

#theme-1{
    background-color:cyan;
}

#theme-2{
    background-color:purple;

}

#theme-3{
    background-color:green;
}

/* Video player styling */
#videoPlayer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
} 